body {
    font-family: 'Finger Paint', cursive;
    margin: 0;
    padding: 0;
    background: url('../img/blackboard1.jpg') black;
    height: 110vh;
    width: 100vw;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 20% 60% 20%;
    grid-template-columns: 35% 30% 35%;
  }
  .login-title {
    grid-column: 1 / span 3;
    text-align: center;
    font-size: 50px;
    font-style: italic;
    color: whitesmoke;
    padding-top: 2%;
  }
  .mainlogin{
      border-style: dashed;
      color: white;
      border-width: 7px;
  }
  .mainlogin input{
    font-family: 'Schoolbell', cursive;
    font-weight: bolder;
    font-size: 25px;

  }
  label{
    color: white;
    font-size: 27px;
  }
  .sec1{
  }
  .sec2{
  }
  button:hover {
    opacity: 0.8;
  }
  .loginbtn{
    font-family: 'Finger Paint', cursive;
    width: auto;
    padding: 10px;
    font-size: 20px;
    width: 110px;
  }
  #exit-login {
    background-color:black;
    color: whitesmoke;
  }
  #start-game {
    background-color:whitesmoke;  
    color: black;
  }
  input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size:20px;
  }
  .level-list{
      color: white;
      font-size: 27px; 
      list-style: none;

  }
  .newLi:hover{
    color: royalblue;
    font-style: italic;
    opacity: 0.8;
  }
  .levelSelected{
    color: royalblue;
    font-style: italic;
    font-size: 30px;
    text-decoration: line-through;
  }
  .level-list li:before{
    content: '\1F3AE'; 
    margin-left: -20px; 
    margin-right: 10px; 
  }