body{
    background: url('../img/blackboard.png') gray;
    background-repeat: no-repeat;
    background-size:100% 100%;
    font-family: 'Finger Paint', cursive;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    border-style: solid;
    display: grid;
    grid-template-rows: 98%;
    grid-template-columns: 25% 55% 20%;
}
.playerData{
    grid-column: 1;
    border-style: solid;
    width: 88%;
    height: 20%;
    margin-left: 11%;
    margin-top: 15%;
    color:whitesmoke;
    font-size: 1.2vw;
}
.abc{
    grid-column: 1;
    border-style: solid;
    width: 88%; 
    height: 65%;
    margin-left: 11%;
    color:whitesmoke;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-items: center;
}
.abcFlex{
    width: 48%;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px; 
    height: 4vh;
    font-size: 30px;
}

.title{
    grid-column: 2;
    width: 100%;
    height: 10%;
    margin-top: 8%;
    background: url('../img/title.png');
    background-size: 80% 90%;
    background-repeat: no-repeat;
    background-position: center;
}
.hint{
    grid-column: 2;
    width: 100%;
    height: 10%;
    color: whitesmoke;
    text-align: center;
    font-style: italic;
    font-size: 1.5em;
    border-style: solid;

}
.board{
    grid-column: 2;
    border-style: solid;
    width: 100%;
    height: 65%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3,1fr);

}
.secFrame{
display: flex;
justify-content: space-around;
flex-flow: row wrap;
}
.secFrame div{
    border-bottom: white;
    border-bottom-style: solid;
    height: 9vh;
    width: 5%;
    text-align: center;
    font-size: 60px;
}
.buttons{
    grid-column: 2;
    border-style: solid;
    width: 100%;
    height: 10%;
}
.timer{
    grid-column: 3;
    border-style: solid;
    width: 85%;
    height: 20%;
    margin-right: 11%;
    margin-top: 15%;
    color:whitesmoke;
    font-size: 1.5vw;
    text-align: center;
}
.hangman{
    grid-column: 3;
    border-style: solid;
    width: 85%;
    height: 65.5%;
}
.abc table td{
    border-style: solid;
    width: 10.3vw;
}