body{
    background: url('../img/blackboard.png') gray;
    background-repeat: no-repeat;
    background-size:100% 100%;
    font-family: 'Finger Paint', cursive;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-rows: 98%;
    grid-template-columns: 25% 55% 20%;
}
.playerData{
    grid-column: 1;
    width: 88%;
    height: 20%;
    margin-left: 11%;
    margin-top: 15%;
    color:whitesmoke;
}
.abc{
    grid-column: 1;
    width: 88%; 
    height: 65%;
    margin-left: 11%;
    color:whitesmoke;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-items: center;
 
}
.abcFlex{
    width: 48%;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px; 
    font-size: 30px;
    background:seagreen;
    text-align: center;
    vertical-align: middle;
    line-height:  4vh;
}
.abcFlex:hover{
    opacity: 0.5;
}   
.title{
    grid-column: 2;
    width: 100%;
    height: 10%;
    margin-top: 7%;
    background: url('../img/title.png');
    background-size: 80% 90%;
    background-repeat: no-repeat;
    background-position: bottom;
}
.hint{
    grid-column: 2;
    width: 100%;
    height: 10%;
    color: whitesmoke;
    text-align: center;
    font-style: italic;
    font-size: 1.5em;
}
.hint p{
    grid-column: 2;
    width: 54vw;
    height: 10%;
    color: whitesmoke;
    text-align: center;
    font-style: italic;
    font-size: 1.5em;
    position: fixed;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
} 
.board{
    grid-column: 2;
    width: 100%;
    height: 65%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr 6vh;
}
.secFrame{
display: flex;
justify-content: space-around;
flex-flow: row wrap;
}
.secFrame div{
    border-bottom: whitesmoke;
    border-bottom-style: solid;
    height: 9.8vh;
    width: 5%;
    text-align: center;
    font-size: 4vw;
    color: wheat;
}
.buttons{
    grid-column: 2;
    width: 100%;
    height: 9%;
    display: flex;
    flex-flow: row nowrap;
}
#startBtn{
    width: 22vw;
}
#exitBtn{
    width: 15vw;
    margin-left: 1vw;
}
.trdFrame{
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 100%;
}
.lbl{
    font-family: 'Gloria Hallelujah', cursive;
    color: ivory;
    font-weight: bolder;
    font-size: 1.5vw;
}
#lblStr{
   grid-column: 1;
   text-align: center;
}
#lblExt{
  grid-column: 2;
  padding-left: 1.5vw;
} 
.timer{
    grid-column: 3;
    width: 85%;
    height: 20%;
    margin-right: 11%;
    margin-top: 15%;
    color:whitesmoke;
    font-size: 1.5vw;
    text-align: center;
    padding-top: 0.1px;
}
.hangman{
    background-repeat: no-repeat;
    background-size:50% 50%;
    grid-column: 3;
    height: 65.5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    padding-top: 5px;
}
td{
    width: 50% 50%;
    font-size: 1.7vw;
}
@-webkit-keyframes magnify {
    0% {font-size:20px;}
    10% {font-size:25px;}
    20% {font-size:30px;}
    30% {font-size:35px;}
    40% {font-size:40px;}
    50% {font-size:45px;}
    60% {font-size:40px;}
    70% {font-size:35px;}
    80% {font-size:30px;}
    90% {font-size:25px;}
    100% {font-size:20px;}
    
};